<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NHIVPNc.Properties.Settings.alConnectionString" connectionString="Data Source=S1\S1;Initial Catalog=al;Persist Security Info=True;User ID=sa;Password=Xvuteb4926+"
            providerName="System.Data.SqlClient" />
        <add name="NHIVPNc.Properties.Settings.BLConnectionString" connectionString="Data Source=S1\S1;Initial Catalog=BL;Persist Security Info=True;User ID=sa;Password=Xvuteb4926+"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>