<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\vpn\Logs\NHI_VPNc_Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date{ABSOLUTE} thread: %thread, [%logger] %level - %message%newline%exception" />-->
        <conversionPattern value="[%date] [%-5level] From [%logger] [Thread: %thread] %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="NHIVPNc.Properties.Settings.alConnectionString" connectionString="Data Source=S1\S1;Initial Catalog=al;Persist Security Info=True;User ID=sa;Password=Xvuteb4926+"
        providerName="System.Data.SqlClient" />
    <add name="NHIVPNc.Properties.Settings.BLConnectionString" connectionString="Data Source=S1\S1;Initial Catalog=BL;Persist Security Info=True;User ID=sa;Password=Xvuteb4926+"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>